
@media (max-width: 740px){
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: fonte1;
    src: url(LuloCleanOneBold.otf);
}
nav{
    background-color: #444343;;
    border: none;
}  
nav ul{
    margin-left: 38px;
    width: 65%;
    
}
a{
    background-color: #eff1f4;
    color: blue;
    border-radius: 50px;
    margin-right: 10px;
}
a :hover{
    color: blue
}
aside{
    display: none
}
header{
    height: 25vh;
    background-color: blue;
}
h1{
    font-size: 30pt;
}
.terceira{
    display: flex;
    justify-content:center;
    margin-top: 10px;
    font-family: sans-serif;

}
.terceira img {
    width: 50px;
    height: 50px;
}

.article1 {
    margin-left: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color:#eff1f4;
    align-items: center;
    width: 45%;

}
.article1 p {
    
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    margin: 5px;

}
.article2 {
    margin-left: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color:#eff1f4;
    align-items: center;
    width: 45%;

}
.article2 p {
    text-align: center;
    font-weight: bold;
    font-size: 8pt;
    margin: 5px;
}
.quarta{
    height: 40%;
    font-family: sans-serif;
}
.quarta img {
    width: 50px;
    height: 50px;
}
.article3 {
    margin-left: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color:#eff1f4;
    align-items: center;
    width: 45%;
    height: 75%;

}
.article3 p {
    font-size: 8pt;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}
.article4 {
    margin-left: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color:#eff1f4;
    align-items: center;
    width: 45%;
    height: 75%;
    margin-right: 3px;

}
.article4 p {
    text-align: center;
    font-weight: bold;
    font-size: 8pt;
    margin: 5px;
}
/* footer*/

footer{
    margin-top: 10px;
    margin-left: 0px;
    background-color: blue;
    font-family: fonte1;
    display: flex;
    justify-content: center;
    align-items: ;
    height: 25vh;
}
.fundofooter{
    margin: 5%;
    background-color: white;
    border: 3px solid #5D5C5C;
    height: 90%;
}
footer input {
    margin-left: px;
    width: 97%;
    border: 2px solid #5D5C5C;
    padding: 4px;
}
footer div p{
    margin-left: 15px;
    color: blue;
    font-weight: bold;
    font-size: 10pt;
}
.sub {
    text-align: left;
    font-weight: bold;
    font-size: 7pt;
    margin-left: 45px;
}
.botao{

    background-color: blue;
    color: white;
    border: 2px solid black;
    text-transform: uppercase;
    font-family: fonte1;
    font-weight: bold;
    width: 85%;
    margin-left: 25px; 
    padding: 4px;
}
